/* Основний колір тексту color: #757575; */
/* Колір заголовків color: #212121 ;  */
/* Білий колір (Основний заголовок) color : #ffffff ;  */
/* Колір кнопки + лого color: #2196F3 ;  */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-title-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --product-button-color: #f5f4fa;
  --hero-footer-background: #2f303a;
  --main-background-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header {
  background-color: var(--main-background-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Шапка */

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo.web {
  color: var(--accent-color);
}
.logo.studio {
  color: var(--logo-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-link.top {
  display: flex;
  margin-left: auto;
}
.auth-link .item + .item {
  margin-left: 50px;
}
.auth-link .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-link .link:hover,
.auth-link .link:focus {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: var(--hero-footer-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--white-title-color);
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-button {
  color: var(--white-title-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Переваги та працівники */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.preferences {
  display: flex;
}
.preferences .item + .item {
  margin-left: 30px;
}
.work-title,
.team-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-photos {
  display: flex;
}
.work-photos .item + .item {
  margin-left: 30px;
}

.workers {
  display: flex;
}
.features,
.workers-name {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10;
}
.features {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.description {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 0;
}
.team {
  background-color: var(--product-button-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.workers-information {
  margin-left: 30px;

  background-color: var(--white-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers-information .photo {
  margin-bottom: 30px;
}
.workers-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
}
.position {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* Футер */
.logo.web.footer {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.location {
  color: var(--white-title-color);
  margin-top: 0;
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.71;
}
.footer-link {
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer {
  background-color: var(--hero-footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.white {
  color: var(--white-title-color);
}

/* Portfolio  */
.products-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.products.list {
  display: flex;
}
.product-button {
  color: var(--title-text-color);
  background-color: var(--product-button-color);

  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.product-button.all {
  color: var(--white-title-color);
  background-color: var(--accent-color);
}
.product-button:hover,
.product-button:focus {
  color: var(--white-title-color);
  background-color: var(--accent-color);
}
.product-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-name {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
}
